@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<form asp-action="Register" method="post">   
    <div class="registerPanel">
        <div class="form-group col-6 align-self-center">
            <label asp-for="UserName" class="control-label"></label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group col-6 align-self-center">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group col-6 align-self-center">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group mb-2 col-6 align-self-center">
            <label asp-for="ConfirmPassword" class="control-label"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-7">
                    <div class="buttonsPanel mt-4">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a asp-controller="Timeline" asp-action="Index" class="btn btn-secondary">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>