@model List<Activity>

@{
    ViewData["Title"] = "Activities";
}

<div class="container text-center mb-3">
    <a asp-controller="Activities" asp-action="Add" class="btn btn-primary">Add new action</a>
</div>

@{
    ViewBag.Caption = "Planned Activities";    
    ViewBag.Current = false;
}
<partial name="_ActivitiesTable" model="ViewBag.PlannedActivities"/>

@{
    ViewBag.Caption = "Current Activities";
    ViewBag.Current = true;
}
<partial name="_ActivitiesTable" model="ViewBag.CurrentActivities" />

@{
    ViewBag.Caption = "Previous Activities";
    ViewBag.Current = false;
}
<partial name="_ActivitiesTable" model="ViewBag.PreviousActivities" />