<div class="container">
    <div class="row">
        <div class="col-4" style="color: #FFFFFFFF; border: solid; border-color: #FFFFFF;">
            One of two columns
        </div>
        <div class="col-4" style="color: #FFFFFFFF; border: solid; border-color: #FFFFFF;">
            One of two columns
        </div>        
    </div>
    <div class="row justify-content-center">
        <div class="col-4" style="color: #FFFFFFFF; border: solid; border-color: #FFFFFF;">
            One of two columns
        </div>
        <div class="col-4" style="color: #FFFFFFFF; border: solid; border-color: #FFFFFF;">
            One of two columns
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-4" style="color: #FFFFFFFF; border: solid; border-color: #FFFFFF;">
            One of two columns
        </div>
        <div class="col-4" style="color: #FFFFFFFF; border: solid; border-color: #FFFFFF;">
            One of two columns
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-4" style="color: #FFFFFFFF; border: solid; border-color: #FFFFFF;">
            One of two columns
        </div>
        <div class="col-4" style="color: #FFFFFFFF; border: solid; border-color: #FFFFFF;">
            One of two columns
        </div>
    </div>
    <div class="row">
        <div class="col-4" style="color: #FFFFFFFF; border: solid; border-color: #FFFFFF;">
            One of two columns
        </div>
        <div class="col-4 offset-5" style="color: #FFFFFFFF; border: solid; border-color: #FFFFFF;">
            One of two columns
        </div>
    </div>
    <div class="alert alert-primary" role="alert">
        A simple alert!
    </div>
</div>