/*#region MainCss*/
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    margin-bottom: 60px;
}

[v-cloak] {
    display: none;
}
/*#endregion*/

/*#region SideMenu*/
.sideMenuMainContainer {
    border-bottom-right-radius: 10px;
    background-color: #413c3cc1;
} 
/*#endregion*/

/*#region ActivitiesTable*/
.activities-table-caption {
    font-size: 1.5rem;
    color: dodgerblue;
    margin-bottom: 10px;
}

.activities-table-fixed {
    table-layout: fixed;
    width: 100%;
}

.activities-table-fixed th, .activities-table-fixed td {
    overflow: hidden;
    white-space: nowrap;
}

.activities-table-fixed th:nth-child(2) {
    width: 30%;
}

.activities-buttons-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 5vh;
}
/*#endregion*/

/*#region TimelineWeek*/
.timeline-week-container {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    padding-top: 10vh;
    height: 80vh;
}

.timeline-week-wrapper {
    display: flex;
    align-items: end;
    height: 200px;
}

.timeline-week {
    display: flex;
    width: 100%;    
    align-items: flex-end;
    position: relative;
}

.timeline-day-line {
    width: 110%;
    height: 2px;
    background-color: white;
    margin: 10px 0;
}

.timeline-day-one-line {
    width: 100%;
    height: 2px;
    background-color: white;
    margin: 10px 0;
}

.timeline-day {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    position: relative;
}

.timeline-day .card {
    width: 100%;
}

.timeline-arrow {
    font-size: 2rem;
    cursor: pointer;
    padding-bottom: 3rem;
}

.timeline-arrow:hover {
    transform: scale(1.2);
    color: #0056b3;
}

.timeline-dropdown-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 40px;
}

#sideMenu ul {
    list-style-type: none;
}
/*#endregion*/

/*#region DayCards*/
.day-cards {
    position: relative;
    overflow: visible;
}

.custom-card {
    position: relative;
    margin-bottom: -70px;
}

.custom-card:last-child {
    margin-bottom: 0px;
}

.custom-card:last-child:hover {
    margin-bottom: 0px;
    transform: scale(1.1);
}

.custom-card:hover {
    margin-bottom: -20px;
    transform: scale(1.1);
}
/*#endregion*/

/*#region AddingActivity*/
.titlesDropdown {
    position: absolute;
    list-style: none;
    margin: 0;    
    padding: 0;
    max-height: 150px;
    overflow-y: auto;
    border: 2px solid #ccc;    
    background-color: #fff;
    color: #827c7c;
    z-index: 1000;    
}

.titlesDropdown li {
    padding: 10px 15px;    
    cursor: pointer;
}

.titlesDropdown li:nth-child(2n+1) {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.titlesDropdown li:first-child {
    border-top: 0;
    border-bottom: 1px solid #ccc;
}

.titlesDropdown li:last-child {
    border-top: 1px solid #ccc;
    border-bottom: 0;
}

.titlesDropdown li:hover {
    background-color: #007bff;
    color: #fff;
}

.addingActivity {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    background-color: #413c3cc1;
    margin-top: 10vh;
    border-radius: 30px;    
    padding-top: 3vh;
    padding-bottom: 3vh;
    margin-left: 20vh;
    margin-right: 20vh;
}

.addingActivityPartPanel {
    display: flex;
    justify-content: center;
}

.timePartPanel {
    display: flex;
    align-items: flex-end;
    gap: 1vh;
}

.buttonsPanel {
    display: flex;
    justify-content: center;
    gap: 10vh;    
}

.buttonsPanel button,
.buttonsPanel a {
    flex: 1;
    
}
/*#endregion*/
