html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.activities-table-caption {
    font-size: 1.5rem;
    color: dodgerblue;    
    margin-bottom: 10px;
}

.activities-table-fixed {
    table-layout: fixed;
    width: 100%;
}

.activities-table-fixed th, .activities-table-fixed td {
    overflow: hidden;
    white-space: nowrap;
}

.activities-table-fixed th:nth-child(2){
    width: 30%;
}